@vyracare:registry=https://pkgs.dev.azure.com/leninmuller/Vyracare/_packaging/vyracare-npm/npm/registry/
always-auth=true

//pkgs.dev.azure.com/<ORG>/<PROJECT>/_packaging/<FEED>/npm/registry/:username=leninmuller
//pkgs.dev.azure.com/<ORG>/<PROJECT>/_packaging/<FEED>/npm/registry/:_password=ODA2RWNvUU5SR212elZiWEVTakN2Ymp5WmpHaWhlVVNDcm1KbFhoa0l4M3dVOXgxSlNiNEpRUUo5OUNDQUNBQUFBQUFBQUFBQUFBU0FaRE80RzQyCg==
//pkgs.dev.azure.com/<ORG>/<PROJECT>/_packaging/<FEED>/npm/registry/:email=lenin_muller@uol.com.br


